/.metadata
/.recommenders
/Servers
/RemoteSystemsTempFiles
/FutStats/.mvn
/FutStats/.settings
/FutStats/bin
/FutStats/target
/FutStats/.classpath
/FutStats/.project
/FutStats/mvnw
/FutStats/mvnw.cmd
/FutStats/test-output
